.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* body contains sidebar + content */
.home-body {
  display: flex;
  flex: 1;
}

.home-content {
  flex: 1;
  padding: 20px;
  background: #f9fafb;
}
