/* Background */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f9f9f9, #f0f0f0);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.login-container {
  width: 500%;
  max-width: 500px;
}

.back-link {
  margin-bottom: 15px;
  color: #555;
  font-size: 20px;
  cursor: pointer;
}

/* Box */
.login-box {
  background: #fff;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  margin-bottom: 40px;
  font-size: 14px;
}

/* Form */
form {
  text-align: left;
}

label {
  display: block;
  font-size: 14px;
  margin: 10px 0 5px;
  font-weight: bold;
}

input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

/* Password Wrapper */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for the icon */
}

.toggle-password {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  top: 50%;
  transform: translateY(-50%);
}

/* Buttons */
.signin-btn {
  width: 100%;
  padding: 12px;
  background: #000;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.signin-btn:hover {
  background: #222;
}

.signup-text {
  font-size: 14px;
  margin: 15px 0;
  color: #666;
}

.signup-text a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.guest-btn {
  width: 100%;
  padding: 12px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.guest-btn:hover {
  background: #f6f2f2;
}
